@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Kanit:wght@700&family=Mea+Culpa&family=Monomaniac+One&family=Noto+Sans&family=Pacifico&family=Poppins&display=swap');
:root{
  --bg-color: #022741;
  --sbg-color:#112e42;
  scroll-behavior: smooth;
}
body{
  cursor: pointer;
  margin: 0;
  box-sizing: border-box;  
  user-select: none;
  font-family: 'Philosopher', sans-serif;
}
.par{
  position: absolute;
  top: 0;
}

.cursor{
  position: fixed;
  width: 50px;
  height: 50px;
  border: 2px solid #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transform: all 1s;
  transition: .1s;
  z-index: 99;
}
 .cursor2{
  position: fixed;
  width: 15px;
  height: 15px;
  background-color: #c6c6c6;
  border-radius: 50%;
  transform: all 1s;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: .15s;
  z-index: 99;
 }
